body {
    font-family: Georgia, "Times New Roman", 
    "Microsoft YaHei", "微软雅黑", 
    STXihei, "华文细黑", 
    serif;
    padding-bottom: 40px;
    color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
   -------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar {
    margin-bottom: 0px; /* Custom the Navbar. Override the Bootstrap. */
}
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}

@media (min-width: 768px) {
	.navbar-wrapper {
	margin-top: 20px;
    }
    .navbar-wrapper .container {
	padding-right: 15px;
	padding-left: 15px;
    }
    .navbar-wrapper .navbar {
	padding-right: 0;
	padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
	border-radius: 4px;
    }
}

#footer {
	margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width:300px;
}

#lisp-logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}
