{namespace web.tmpl}

{template index}
{call default data="all"}
{param siteTitle}Welcome to project of DT107G{/param}
{param user}{$user | noAutoescape}{/param}
{param addHead}
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
{/param}
{param body}
  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Jakoyo</h1>
              <p>Yet another blog engine :) <br> Everybody can register for a blog and write your posts right now! <br> Markdown and RSS supported.</p>
              <p><a class="btn btn-lg btn-primary" href="register" role="button">Sign up today!</a></p>
            </div>
          </div>
        </div>
        {foreach $topHit in $topHits}
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>{$topHit.blogTitle | noAutoescape}</h1>
              <p>{$topHit.blogShortDescription | noAutoescape}</p>
              <p><a class="btn btn-lg btn-primary" href="/blog/{$topHit.nickname | noAutoescape}" role="button">Check it out</a></p>
            </div>
          </div>
        </div>
        {/foreach}
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    {call footer /}
{/param}
{/call}
{/template}