{namespace xml.tmpl}

{template post}
<post title="{$title | noAutoescape}" timestamp="{$timestamp | noAutoescape}">
	<create_time>{$createTime | noAutoescape}</create_time>
	<revised_time>{$revisedTime | noAutoescape}</revised_time>
	<content_md>{$contentMd | noAutoescape}</content_md>
	<url>{$url | noAutoescape}</url>
</post>
{/template}

{template rss}
<?xml version="1.0"?>
<rss version="2.0">
   <channel>
      <title>{$user | noAutoescape}'s Blog</title>
      <link>http://localhost:8080/blog/{$user | noAutoescape}</link>
      <description>{$blogShortDescription | noAutoescape}</description>
      {foreach $post in $posts}
      <item>
         <title>{$post.title}</title>
         <link>http://localhost:8080/blog/{$user | noAutoescape}/{$post.url | noAutoescape}</link>
         <description>A post of {$user | noAutoescape}, written at {$post.createTime | noAutoescape}</description>
      </item>
      {/foreach}
    </channel>
</rss>
{/template}